.asideLeft {
    float: left;
    width: 21%;
    background-color: var( --bg-black2);
    color: aliceblue;
    text-align: center;
    position: fixed;
    display: block;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    top: 8%;
    display: block; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.topLogoBor{
    border-left:royalblue 5px solid ;
    border-top:royalblue 5px solid ;
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 5px;

}
.botLogoBor{
    border-bottom:RoyalBlue 5px solid ;
    border-right:RoyalBlue 5px solid ;
    padding-bottom: 7px;
    padding-right: 7px;
    border-radius: 5px;

}
.logo>div{
    text-align: left;
}



.LeftElement{
    display:block;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    border-bottom: 1px solid royalblue;
    text-align: left ; 
    padding: 12px;
}

.LeftElement>a{
color: aliceblue;
list-style-type: none;
font-size: 16px;
padding-top: 15px;
padding-bottom: 7px;
}

.LeftElement>a>span{
    margin-left: 15px;
    margin: 18px 25px;
}




.iconNav{
    height: 26px;
    width:26px ;
    padding:5px;
    background-color: aliceblue;
    border-radius: 30%;
    float: left;
    
} 
